version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: nexus-postgres
    environment:
      POSTGRES_DB: nexus_registry
      POSTGRES_USER: nexus_user
      POSTGRES_PASSWORD: nexus_password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: nexus-backend
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/nexus_registry
      SPRING_DATASOURCE_USERNAME: nexus_user
      SPRING_DATASOURCE_PASSWORD: nexus_password

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: nexus-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
